* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    background: #f5f1ed;
    color: #000;
}

.header {
    text-align: center;
    padding: 20px;
    background-image:url("https://learn.logikaschool.com/uploads/student/1424732/69635cfabd819.png") ;
    height:400px;
}


.header h1 {
    font-size: 48px;
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav{
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    width: 50%;
    margin: auto;
}

.select{
    border-bottom: 2px solid black;
    padding: 8px;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-content img {
    width: 200px;
}

.catalog .cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #e7d9cf;
    padding: 15px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.reviews .review {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.reviews img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.location img {
    width: 100%;
    margin: 20px 0;
}

footer {
    background: #e7d9cf;
    text-align: center;
    padding: 30px;
}
